[Main]
hyprland
hyprcursor
hypridle
hyprlang
hyprloc
hyprpaper
hyprpicker
hyprutils
xdg-desktop-portal-hyprland
waybar
wl-copy
alacritty
pip
flatpak
neovim
zsh
pavucontrol
alsa-tools
dunst
feh
alsa-utils
rofi
mozilla-openh
pamixer
pavucontrol
network-manager-applet

[other-programs]
gnome-font-viewer
gnome-software
kitty
ranger
gnome-software
nemo

[Flatpak]
